/Development_Resources/Planning/Design Document/Latex/*.aux
/Development_Resources/Planning/Design Document/Latex/*.log
/Development_Resources/Planning/Design Document/Latex/Mercury2_Design.out
/Development_Resources/Planning/Design Document/Latex/*.toc
/Development_Resources/Planning/Design Document/Latex/Mercury2_Design.synctex.gz

*.pyc
*.log